@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the custom styles from your code here */
.direction-rtl { direction: ltr; } 
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #cbd5e1; border-radius: 3px; }